# Node.js (Frontend)
frontend/node_modules/
frontend/dist/

# Rust (Backend)
backend-actix-web/target/
backend-actix-web/Cargo.lock

# General
.DS_Store
Thumbs.db

# Logs
*.log

# IDE or Editor Configurations
.idea/
.vscode/
*.swp
